<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" tools:ignore="background-location-access"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application

        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmergencyApplication"
        tools:targetApi="35">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDN073M2fDogpzE8Aa4PLIfkAeCbCOpCX4" />
        <service
            android:name=".Services.CrashDetectionService"
            android:foregroundServiceType="location"
            android:exported="false" />

        <receiver android:name=".BroadCastReceivers.SOSReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.shubham.emergencyapplication.SOS_ACTION" />
<!--                <action android:name="com.shubham.emergencyapplication.SHOW_OVERLAY" />-->
            </intent-filter>
        </receiver>



        <service android:name=".Services.PowerButtonMonitorService" />
        <receiver android:name=".BroadCastReceivers.ScreenStateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".Ui.Activities.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Ui.Activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>